@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Aleo:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  --btn-color-primary: #1976d2;
  --form-color-opacity: rgb(190, 190, 190);
  --fontsize-h2: 40px;
  --fontsize-h3: 28px;
  --fontsize-p: 16px;
  --fontsize-span: 14px;
}

a {
  text-decoration: none;
}
